<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-header">
  <template>
    <style>
      :host {
        display: inline-block;
      }
      img{
        width: 100px;
        height: 100px;
      }
      div#image{
        margin: auto;
        margin-top: 60px;
        width: 560px;
        height: 100px;
      }
      div#izq{
        width: 180px;
        height: 90px;
        float: left;
      }
      div#cent{
        width: 280px;
        height: 80px;
        float: left;
      }
      div#der{
        width: 0px;
        height: 90px;
        float: left;
      }
  
    </style>
    <div id="image">
      <div id="izq">
          <img src="../bower_components/aby-repository/images/icono.png" >
      </div>
      <div id="cent">
          <h2>Mi primer Header</h2>
      </div>
      <div id="der">
          <img src="../bower_components/aby-repository/images/icono.png" >
      </div>
      
    </div>
    
  </template>

  <script>
    /**
     * `component-header`
     * component header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentHeader extends Polymer.Element {
      static get is() { return 'component-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-header'
          }
        };
      }
    }

    window.customElements.define(ComponentHeader.is, ComponentHeader);
  </script>
</dom-module>
